html,
body {
  background-color: rgb(12, 12, 12);
}

h1 {
  color: rgba(255, 255, 255, 0.6);
}

button {
  opacity: 0.6;
  margin: 2px;
  background: transparent;
}

button.active {
  background: white;
  color: rgb(12, 12, 12);
  /* border-color: blue; */
}

circle {
  opacity: 0.6;
}

#container {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

/* .axis path {
  color: #606c76;
  fill: #606c76;
} */
